.lista-pokemon {
  background-color: lightgray;
}

#listaPokemon {
  width: 100%;
}

#listaPokemon table, th, td {
  border: 1px solid black;
}

#listaPokemon tr:hover {
  cursor: pointer;
  background-color: yellow;
}

#listaPokemon tr:active {
  background-color: gray;
}
